* {
    padding: 0;
    margin: 0;
    border: 0;
}

*,
*:before,
*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus,
:active {
    outline: none;
}

a:focus,
a:active {
    outline: none;
}

nav,
footer,
header,
aside {
    display: block;
}

html,
body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}


/*--------------------*/

.content {
    margin: 0 auto;
    max-width: 1440px;
}

header {
    font-family: Rubik;
    height: 250px;
    background: url(/images/pattern-bg.png);
    text-align: center;
}

.title {
    color: white;
    padding: 20px;
    font-size: 16px;
}

.search {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
}

.search__input {
    font-size: 18px;
    box-sizing: border-box;
    width: 400px;
    height: 40px;
    padding-left: 10px;
    border-radius: 10px 0 0 10px;
    border: 0px;
}

.search__btn {
    box-sizing: border-box;
    height: 40px;
    width: 40px;
    border-radius: 0 10px 10px 0;
    border: 0px;
    background: url(/images/icon-arrow.svg)50% no-repeat;
    background-color: black;
}

.output {
    margin: 50px auto;
    max-width: 1000px;
    height: 150px;
    background: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;
    position: relative;
    z-index: 1000;
}

.block {
    width: 300px;
    height: 70px;
    text-align: center;
    border-left: 1px solid rgba(176, 167, 167, 0.4);
}

.output .block:first-child {
    border-left: 0px;
}

.block_title {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

#map {
    width: 1440px;
    height: 400px;
}